
<div @key="_id" style="margin-left: 8px;margin-right: 8px;border-radius: var(--mud-default-borderradius);">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-hd+c+5l+e-5q"
         data-ad-client="ca-pub-9521363170451553"
         data-ad-slot="1543344085">
</ins>

</div>

@code {
    private string _id = Guid.NewGuid().ToString();

    [Inject] private IJSRuntime JS { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "(adsbygoogle = window.adsbygoogle || []).push({});");
        }
    }
}
