<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="-R7frD9ZkOKdQbxsKaIwly3zrgRXdBxDROvXixEiqhM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta name="keywords" content="MudBlazor,Theme Manager,Theme Creator,Bootswatch Blazor,Bootswatch MudBlazor,Bootstrap Blazor,Bootstrap MudBlazor, Material Design Blazor" />
    <meta name="robots" content="index, follow">
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Theme Creator - MudBlazor Theme Manager & Bootswatch Export" />
    <meta property="og:url" content="https://themes.arctechonline.tech" />
    <meta property="og:site_name" content="Theme Creator" />
    <meta property="og:image" content="https://themes.arctechonline.tech/ThemeCreator.png" />
    <meta property="og:image:alt" content="Preview of Theme Creator for MudBlazor" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Theme Creator - MudBlazor Theme Manager" />
    <meta name="twitter:description" content="Easily create and manage MudBlazor themes, including Bootstrap imports." />
    <meta name="twitter:image" content="https://themes.arctechonline.tech/ThemeCreator.png" />
    
    <meta name="pinterest-rich-pin" content="true" />
    
    <base href="/" />

    <link rel="canonical" href="https://themes.arctechonline.tech" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@(Extensions.Extensions.MudBlazorVersion)" rel="stylesheet" />
    <link id="mudex-styles" href="_content/MudBlazor.Extensions/mudBlazorExtensions.min.css?v=@(Extensions.Extensions.MudExVersion)" rel="stylesheet">
    <link href="app.css?v=@(Extensions.Extensions.AppCssVersion)" rel="stylesheet" />
	<link href="prism.css" rel="stylesheet" />
    <link href="ThemeCreator.ico" rel="icon" type="images/png" />
    <link href="tooltip-extensions.min.css" rel="stylesheet" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(Extensions.Extensions.MudBlazorVersion)"></script>
    <script src="js/prism.js" data-manual></script>
    <script src="js/ThemeCreator.js?v=@(Extensions.Extensions.ThemeCreatorJsVersion)"></script>
</body>

</html>
